// element-variables.scss
/* 覆盖 Element 核心变量 */
$--color-primary: #1f2328; // 自定义主题色
$--font-path: '~element-ui/packages/theme-chalk/src/fonts'; // 修复字体文件路径

@import "element-ui/packages/theme-chalk/src/index";