* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
::selection {
  background-color: #107E63; 
  color: #fff;
}
html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'PingFang SC','Helvetica Neue',Helvetica,STHeitiSC-Light,WOL_SB,'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,sans-serif!important;
  font-size: 14px;
  color: var(--mystery-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li {
  list-style: none;
}
p {
  margin-bottom: unset;
  margin: 0;
}
.seatom-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mt-16 {
  margin-top: 16px;
}

.cursor-pointer {
  cursor: pointer;
}